<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>iron-man-tony-stark</title>
		<style>
			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}

			body {
				background-image: url("/images/iornman.jpg");
				background-repeat: none;
				background-size: cover;
				background-color: black;
				color: white;
			}
			.main {
				height: 65vh;
				width: 50vw;
				background-color: rgba(255, 255, 255, 0.1);
				margin-top: 20vh;
				margin-left: 45vw;
				border-radius: 25px;
				box-shadow: 5px 5px rgba(255, 255, 255, 0.4);
			}

			h1 {
				margin-left: 50%;
				padding-top: 13vh;
				transform: translate(-50%, -50%);
				color: rgb(236, 53, 53);
				font-size: 45px;
			}

			p {
				padding-left: 5px;
				margin-top: 3vh;
				font-size: 22px;
				padding: 5px;
			}
			a::before,
			a,
			a:active {
				text-decoration: none;
				color: goldenrod;
				font-size: 40px;
				padding: 20px;
			}
		</style>
	</head>
	<body>
		<div class="main">
			<h1>Tony Stark</h1>
			<p>
				<span class="i"
					><a href="https://www.marvel.com/characters/iron-man-tony-stark"
						>Iron Man</a
					></span
				>
				is a 2008 American superhero film based on the Marvel Comics
				character of the same name. Produced by Marvel Studios and
				distributed by Paramount Pictures, it is the first film in the
				Marvel Cinematic Universe (MCU).
			</p>
		</div>
	</body>
</html>