<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Creation</title>
    <style>
table, th, td {
  border: 5px solid black;
  padding: 5px;
}
th{
  background-color: rgb(11, 255, 11);
}
td{
  background-color: rgb(184, 181, 181);
}
body{
  background-color: rgb(255, 255, 255);
  text-align: center;
}
table{
  margin-left: 50%;
  margin-top: 20%;
  transform: translate(-50%,-50%);
}
</style>
</head>
<body>

<h1>The table with rowspan coloumnspan attribute</h1>

<table>
  <tr>
    <th>programming languages</th>
    <th colspan="2" >Like or Hate</th>
    <th>fileld of ussage</th>
  </tr>
    <tr>
    <td>python</td>
    <td>like</td>
    <td></td>
    <td rowspan="2" >common and powerfull</td>
  </tr>
  <tr>
    <td>java</td>
    <td></td>
    <td>hate</td>
  </tr>
    <tr>
    <td>JavaScript</td>
    <td >like</td>
    <td></td>
    <td rowspan="2" >web developement</td>
    </tr>
      <tr>
    <td>Php</td>
    <td></td>
    <td>hate</td>
  </tr>
</table>

</body>
</html>