<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{> header}}
    <h1>welcome to lab exercise</h1>
    <h2><a href="page">click see lab exercise</a></h2>
    <p>if you want any excise source code please view contact page</p>
</body>
</html>