<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise List</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>header}}
    <div class="cls">
        <li><a href="page/ex1">ex-1  heading and paragraph</a></li>
        <li><a href="page/ex2">ex-2  table with row col span</a></li>
        <li><a href="page/ex3">ex-3  news paper creation</a></li>
        <li><a href="page/ex4">ex-4  adding two numbers</a></li>
        <li><a href="page/ex5">ex-5  photo gallery</a></li>
        <li><a href="page/ex6">ex-6  >-Error?</a></li>
    </div>
    
</body>
</html>