<footer>
    <ul>
        <li><a href="https://github.com/sri0711">github</a></li>
        <li><a href="mailto:padhu.developer@gmail.com?Subject=Require%20Exercise%20Code">email</a></li>
        <li><a href="tel:+917904739162" class="hide">call</a></li>
        <li><a href="https://api.whatsapp.com/send?phone=+919790378215">whatsapp</a></li>
    </ul>
</footer>