<footer>
    <ul>
        <li><a href="facebook">facebook</a></li>
        <li><a href="instagram"></a></li>
        <li><a href="tel:8148422598">call</a></li>
        <li><a href=""></a></li>
    </ul>
</footer>